global
    log /dev/log    local0
    log /dev/log    local1 notice

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend www
    bind 0.0.0.0:443
    default_backend github_api

backend github_api
    mode tcp
    server github api.github.com:443
